.mainPage {
    margin: 100px auto;
    max-width: 1000px;
    width: calc(100%-60px);
}

.button {
    color: #3333a9;
    background-color: #fff;
    border: #3333a9 solid 2px;
    border-radius: 5px;
    height: 50px;
    font-weight: bold;
    font-size: 15pt;
    margin: 50px auto;
}

.button a {
    color: #3333a9;
}

a:hover {
    color: #3333a9;
    text-decoration: none;
}

.buttonM {
    color: #3333a9;
    background-color: #fff;
    border: #3333a9 solid 2px;
    border-radius: 5px;
    height: 50px;
    font-weight: bold;
    font-size: 15pt;
    padding: 5px 25px
}


.modal {
    position: fixed;
    /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    /* цвет фона */
    z-index: 1050;
    opacity: 0;
    /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    /* анимация перехода */
    pointer-events: none;
    /* элемент невидим для событий мыши */
}

/* при отображении модального окно */
.modal:target {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
}

/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 30px auto;
    }
}

/* свойства для блока, содержащего контент модального окна */
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}

@media (min-width: 768px) {
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
}

/* свойства для заголовка модального окна */
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}

.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}

/* свойства для кнопки "Закрыть" */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}

/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}

/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}


.buttonM a {
    color: #3333a9;
}

/* NavBar */
.nav-bar {
    margin: 100px auto;
    width: 100%;
    display: block;
    overflow-x: auto;
}

.navItem {
    display: inline;
    flex: 1 1;
    flex-shrink: 0;
    flex-wrap: nowrap;
    text-align: center;
    font-weight: 700;
    color: #0e1f4d;
    border-bottom: 2px solid #e9ecf7;
    padding: 15px 10px;
    white-space: nowrap;
    transition: .32s;
    margin-left: 10%;
}

.navItemActive {
    border-bottom: 2px solid #0e1f4d;
}

/* WorkPage */
.content {
    margin-top: -70px;
}

.templateCard {
    width: 100%;
    margin: 5px auto;
    border-radius: 15px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 14pt;
}







.searchInptPhoto {
    display: inline;
    width: 300px;
    height: 34px;
    border: 0;
    border-radius: 0px;
    margin: 0 0;
}

.searchInpt {
    display: inline;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid rgba(142, 148, 177, .5);
    margin: 0 0;
}

/* Staf user view and edit */
.templateCard input {
    border: 0;
}

.table {
    width: 100%;
    margin: 5px auto;
    border-radius: 15px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 14pt;
}