{% extends 'base.html' %}
{% load static %}

{% block main %}

<link rel="stylesheet" href="{% static 'css/work/main.css' %}">

<div class="mainPage">

    <form action="" method="post">
        {% csrf_token %}
        <div class="templateCard">
            <table class="table">
                <tbody style="width: 30vw;">
                    <tr>
                        <td>Название канала</td>
                        <td><input type="text" name="name" required class="searchInpt"
                                style="border: 1px solid rgba(142,148,177,.5);" minlength="2" maxlength="1000"></td>
                    </tr>
                    <tr>
                        <td>Имя канала</td>
                        <td><input type="text" name="username" required class="searchInpt"
                                style="border: 1px solid rgba(142,148,177,.5);"></td>
                    </tr>
                    <tr>
                        <td>Описание</td>
                        <td><input type="text" name="desc" required class="searchInpt"
                                style="border: 1px solid rgba(142,148,177,.5); height: 200px; width: 300px;"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a href="{% url 'main' 'channels' %}"><button class="button" type="button">Назад</button></a>
        <button class="button" type="submit">Сохранить</button>
    </form>

</div>

{% endblock main %}