{% extends 'base.html' %}
{% load static %}

{% block main %}
<link rel="stylesheet" href="{% static 'css/work/main.css' %}">

<div class="mainPage">

	<form action="" method="post" enctype="multipart/form-data">


		{% csrf_token %}
		<div class="templateCard">

			{% for us in users %}
			{{ us.tg_id }}
			{% endfor %}
			<table class="table">
				<tbody style="width: 30vw;">
					<tr>
						<td>Название</td>
						<td>
							<input value='{{mailing.name}}' type="text" required name="name" minlength="2" maxlength="1000"
								placeholder="*" class="searchInpt" style="border: 1px solid rgba(142,148,177,.5);">
						</td>
					</tr>
					<tr>
						<td>Описание</td>
						<td>
							<textarea type="text" name="desc" class="searchInpt" placeholder="*" required
								style="border: 1px solid rgba(142,148,177,.5); height: 200px; width: 300px;">{{mailing.desc}}</textarea>
						</td>
					</tr>
					<tr>
						<td>Фото</td>
						<td>
							<input type="file" name="photo" class="searchInptPhoto" id="fileName" required style="border: 0;">
						</td>
					</tr>
					<tr>
						<td>Добавите пользоватля/ей</td>
						<td>

							<a class="buttonM">Добавить</a>
							<div id="openModal" class="modal">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h3 class="modal-title">Название</h3>
											<a href="#close" title="Close" class="close">×</a>
										</div>
										<div class="modal-body">
											Содержимое модального окна...
										</div>
									</div>
								</div>
							</div>
		</div>

</div>


</td>
</tr>
</tbody>
</table>
</div>
<a href="{% url 'main' 'mailing' %}"><button class="button" type="button">Назад</button></a>
<button class="button" type="submit">Сохранить</button>
{% if mailing %}
<button class="button" name="delete" type="submit">Удалить</button>
{% endif %}

</form>

</div>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		var scrollbar = document.body.clientWidth - window.innerWidth + 'px';
		console.log(scrollbar);
		document.querySelector('[href="#openModal"]').addEventListener('click', function () {
			document.body.style.overflow = 'hidden';
			document.querySelector('#openModal').style.marginLeft = scrollbar;
		});
		document.querySelector('[href="#close"]').addEventListener('click', function () {
			document.body.style.overflow = 'visible';
			document.querySelector('#openModal').style.marginLeft = '0px';
		});
	});
</script>
<script>
	$("input[name='data']").mask('99.99.9999 99:99');
</script>

{% endblock main %}