{% extends 'base.html' %}
{% load static %}

{% block main %}
<link rel="stylesheet" href="{% static 'css/work/main.css' %}">

<div class="mainPage">

	<form action="" method="post" enctype="multipart/form-data">


		{% csrf_token %}
		<div class="templateCard">

			{% for us in users %}
			{{ us.tg_id }}
			{% endfor %}
			<table class="table">
				<tbody style="width: 30vw;">
					<tr>
						<td>Название</td>
						<td>
							<input value='{{mailing.name}}' type="text" required name="name" minlength="2" maxlength="1000"
								placeholder="*" class="searchInpt" style="border: 1px solid rgba(142,148,177,.5);">
						</td>
					</tr>
					<tr>
						<td>Описание</td>
						<td>
							<textarea type="text" name="desc" class="searchInpt" placeholder="*" required
								style="border: 1px solid rgba(142,148,177,.5); height: 200px; width: 300px;">{{mailing.desc}}</textarea>
						</td>
					</tr>
					<tr>
						<td>Фото</td>
						<td>
							<input type="file" name="photo" class="searchInptPhoto" id="fileName" required style="border: 0;">
						</td>
					</tr>
					<tr>
						<td>Добавите пользоватля/ей</td>
						<td>

							<a class="buttonM">Добавить</a>
							<!-- <div class="modal-overlay">
								<div class="modal">

									<a class="close-modal">
										<svg viewBox="0 0 20 20"> -->
							<!-- <path fill="#000000"
								d="M15.898,4.045c-0.271-0.272-0.713-0.272-0.986,0l-4.71,4.711L5.493,4.045c-0.272-0.272-0.714-0.272-0.986,0s-0.272,0.714,0,0.986l4.709,4.711l-4.71,4.711c-0.272,0.271-0.272,0.713,0,0.986c0.136,0.136,0.314,0.203,0.492,0.203c0.179,0,0.357-0.067,0.493-0.203l4.711-4.711l4.71,4.711c0.137,0.136,0.314,0.203,0.494,0.203c0.178,0,0.355-0.067,0.492-0.203c0.273-0.273,0.273-0.715,0-0.986l-4.711-4.711l4.711-4.711C16.172,4.759,16.172,4.317,15.898,4.045z">
							</path> -->
							</svg>
							</a><!-- close modal -->

							<div class="modal-content">
								<h3>Some content here</h3>
							</div><!-- content -->

		</div><!-- modal -->
</div><!-- overlay -->

<script>
	var elements = $('.modal-overlay, .modal');

	$('button').click(function () {
		elements.addClass('active');
	});

	$('.close-modal').click(function () {
		elements.removeClass('active');
	});
</script>

</div>


</td>
</tr>
</tbody>
</table>
</div>
<a href="{% url 'main' 'mailing' %}"><button class="button" type="button">Назад</button></a>
<button class="button" type="submit">Сохранить</button>
{% if mailing %}
<button class="button" name="delete" type="submit">Удалить</button>
{% endif %}

</form>

</div>

<script>
	$("input[name='data']").mask('99.99.9999 99:99');
</script>

{% endblock main %}