{% extends 'base.html' %}
{% load static %}

{% block main %}

<link rel="stylesheet" href="{% static 'css/work/main.css' %}">

<div class="mainPage">

    <form action="" method="post">
        {% csrf_token %}
        <div class="templateCard">
            <h1 class="title-blok"><input type="text" name="name" minlength="2" maxlength="1000"
                                          required value="{{statistic.user_phone}}" style="width: 100%;">
            </h1>
            <table class="table">
                <tbody style="width: 30vw;">
                    <tr>
                        <td>Телефон</td>
                        <td>{{statistic.user_phone}}</td>
                    </tr>
                    <tr>
                        <td>Сколько дней оффлайн</td>
                        <td>{{statistic.message}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a href="{% url 'main' 'statistic' %}"><button class="button" type="button">Назад</button></a>
        <button class="button" type="submit" name="delete">Принято</button>
    </form>

</div>

{% endblock main %}