{% extends 'base.html' %}
{% load static %}

{% block main %}

<link rel="stylesheet" href="{% static 'css/work/main.css' %}">

<div class="mainPage">

    <form action="" method="post">
        {% csrf_token %}
        <div class="templateCard">
            <h1 class="title-blok"><input type="text" name="name" minlength="2" maxlength="1000"
                    pattern="^[А-Яа-яЁё\s]+$" required value="{{user.name}}" style="width: 100%;">
            </h1>
            <table class="table">
                <tbody style="width: 30vw;">
                    <tr>
                        <td>
                            {% if task.user_to <= '0' %}
                            Пользователь
                            {% else %}
                            Кто хочет связаться
                            {% endif %}
                        </td>
                        <td>
                            {% for lan in users%}
                            <!-- <a href="{% url 'user' 43 %}">{{lan.phone}}</a> -->
                            {%if lan.phone == task.user_from%}
                            <a href="{% url 'user' lan.id %}">{{task.user_from}}</a>
                            {% endif %}
                            {% endfor %}
                            <!-- <a href="{% url 'user' 43 %}">{{task.user_from}}</a> -->
                        </td>
                    </tr>
                    {% if task.user_to > '0' %}
                    <tr>
                        <td>С кем хочет связаться</td>
                        <td>
                            {{task.user_to}}
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td>
                            {% if task.user_to <= '0' %}
                            Что изменить
                            {% else %}
                            Зачем хочет связаться
                            {% endif %}
                        </td>
                        <td>
                            {% if photo %}
                            изменение фото | {{task.about}}
                            {% else %}
                            {{task.about}}
                            {% endif %}
                        </td>
                    </tr>
                    {% if photo %}
                    <tr>
                        <td>Фото</td>
                        <td><img src="{{photo}}" height="200px"></td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <a href="{% url 'main' 'task' %}"><button class="button" type="button">Назад</button></a>
        <button class="button" type="submit" name="delete">Отказать</button>
        <button class="button" type="submit" name="connect">Одобрить</button>
    </form>

</div>

{% endblock main %}